body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfaf5;
}

header {
    background-color: #32cb79;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #32cb79;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 20px;
    margin-top: 50px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px;
  }
  h1 {
    margin-bottom: 40px;
    color: #333;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .skill {
    display: inline-block;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .skill i {
    font-size: 50px;
    padding: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #020a02;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  .skill h3 {
    margin-top: 10px;
    color: #333;
  }
  .skill:hover i {
    background-color: #426cac;
    color: #fff;
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  .skill:hover h3 {
    color: #486dbd;
  }